img{
  width: 20rem;
}
.payment-widget {
  display: flex;
  justify-content: center;
  align-items: center;

 
  .payment-card {
    background: rgb(255, 255, 255,0.7);
    padding: 2.5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    animation: fadeInUp 0.6s ease;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .amount-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;

    span {
      font-weight: 700;
    }
  }

  p {
    font-size: 1.1rem;
    color: #555;
  }

  .user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 500;
        margin-bottom: 0.3rem;
        color: #333;
      }

      input {
        padding: 0.6rem 0.8rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        width: 100%;
        transition: all 0.2s;

        &:focus {
          outline: none;
          border-color: #007bff;
          box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
        }
      }
      
    }
   
  }

  .paymentWidgets {
    margin-top: 1.5rem;
  }
  .req{
    color: red;
  }
  .error{
    color: gray;
  }
   .proceed-btn{
        padding: 10px;
      }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
